.show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 10px;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  border-radius: 25px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.2);
  background-color: white;
  padding: 30px;
  width: 350px;
  margin: 0 auto;
  transition: 0.5s;
}

.form-container:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

.show-details {
  margin-top: 13px;
}

.prompt {
  font-size: 20px;
}

.info {
  flex-grow: 1;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#counter {
  margin: 0 15px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.btn-primary {
  background-color: rgba(54, 211,255, 0.8);
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #36D3FF;
}


#participants {
  border: 1px solid rgb(0,0,0);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 24px;
}

#information {
  display: flex;
  justify-content: space-between;
}

#date-time {
  border-left: 1px solid rgb(0,0,0);
  border-top: 1px solid rgb(0,0,0);
  border-right: 1px solid rgb(0,0,0);
  border-top-left-radius: 25px;
  padding: 24px;
}

#sport {
  border-right: 1px solid rgb(0,0,0);
  border-top: 1px solid rgb(0,0,0);
  border-top-right-radius: 25px;
  padding: 36px;
}

.user-show {
  padding-left: 600px;
}

.book {
  border-radius: 25px;
}

