<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Upcoming Events</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Created Events</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Joined Events</a>
  </li>
</ul>
