<h1>Hello from the show page!</h1>

<div class="container ">
<!--   That's the main container that has the right side (user info) and left side (bookings). I added display flex for this container in _show.scss
 -->

<div class="user info">
<!--   That's the div where Chris and Ricardo (and Sean?) will be working to add user info, description, reviews etc -->
</div>


<div class="booking">
<!--  That's the div where I will be working on the bookings -->
</div>


</div>
