<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547347298-4074fc3086f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);">
  <div class="d-flex justify-content-center align-items-center" style="height:100px;">
      <div>
      <h1>Find a New Buddy</h1>
      </div>
  </div>

