
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.review-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: 15px !important;
}

.review-avatar-events-tabs {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.avatar-profile {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.avatar-profile2 {
  width: 160px !important;
  height: 160px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.avatar-profile1 {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

#chat-avatar {
width: 60px;
height: 60px;
object-fit: cover;
margin-top: 10px;
margin-left: 5px;
}
