.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.card-product .btn-ghost{
  padding: 4px 12px;
  color: "#e90052";
  background-color: #00ff85;
  border-color: #00ff85;
  font-size: 12px;
  margin-top: 10px;
}
