@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  box-sizing: border-box;
}

.cards1 {
    display: flex;
  // grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
  margin: 0px;
 // take this out if you want to have more than one
  flex-wrap: wrap;
}

h3 {
  margin: 10px 0;
}

h5 {
  font-family: Abel;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.tab-content {
  padding-top: 10px;
}


.card-container {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.2);
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  height: 550px;
  background: white;
  // background: linear-gradient(to right, white 50%, rgb(34, 222, 237) 50%);
  background-size: 200% 100%;
  background-image: none;
  background-position:left bottom;
  transition: all 1.5s;
}

.card-container:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(4,245,255,0.3);
  // background-color: linear-gradient(rgba(4,200,255,0.4), #56BAEC);
  background-position: right bottom;
  content: "";
// background-image: linear-gradient(195deg, transparent 0%, transparent 35%,rgba(0,0,0,0.02) 35%, rgba(0,0,0,0.02) 88%,transparent 88%, transparent 100%),radial-gradient(circle at 59% 11%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 80% 89%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 68% 7%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 2% 85%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 99% 21%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 7% 79%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 68% 39%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 63% 32%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 44% 24%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 79% 49%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 93% 55%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 66% 50%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),linear-gradient(90deg, #2980b9,#6dd5fa, #ffffff);  \
// background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.more-info {
      visibility: visible;
      opacity: 1;
  }

.card-container .pro {
  color: #231E39;
  background-color: rgba(4,200,255,0.4);
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.btn-ghost {
  background-color: #36D3FF;
  border-color: #36D3FF;
}

.card-container .round {
  border: 1px solid #56BAEC;
  border-radius: 50%;
  padding: 7px;
  width: 150px;
  height: 150px;
}

.profile-details {
  padding-bottom: 8px;
  padding-top: 10px;
}


.main-dashboard-container {
  padding-top: 16px;
  margin-left: 16px;
}

.avatar-profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
















































