.layout {
  flex-direction: column;
  padding-top: 130px;
}

.fa-search-location, .fa-calendar-check, .fa-grin-beam {
  color: #3FB1CE;
  margin-top: 4px;
  margin-bottom: 17px;
  text-align: center !important;
}

.text-align-center {
    text-align: center !important;
}

.title-home {
  text-align:center;
  margin-bottom:30px;
  color: #3FB1CE;
  font-family: Montserrat;
}

.title-step {
  font-family: Montserrat;
}

.content-step {
  font-size: 17px;
}
