.layout {
  flex-direction: column;
  padding-top: 130px;
}

.fa-search-location, .fa-calendar-check, .fa-grin-beam {
  color: #3FB1CE;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center !important;
}

.text-align-center {
    text-align: center !important;
}
