.navbar-lewagon {
  background: transparent;
  transition: 0.5s background-color ease;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-height {
  padding-bottom: 100px;
  // background: white;
}

#navbarDropdown2 {
  height: 25px;
  margin: 8px;
}

.recognitionStyling {
  margin-left: 10px;
}

.search {
  margin-left: 10px;
  color: rgba(54, 211,255, 0.8);
  border-color: rgba(54, 211,255, 0.8);
}

.search:hover {
  color: white;
  border-color: #36D3FF;
  background-color: #36D3FF;
}
